* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.6rem;
  line-height: 1.5;
  max-width: 1024px;
  margin: 0 auto;
}

.login-bloc {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 8px;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #34d399;
  font-size: 1.5rem;
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
  margin-top: 100px;
}
.login-form {
  text-align: center;
}
.register-btn {
  background-color: #4caf50;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  padding: 6px 12px;
  width: 100px;
  margin: 0 auto;
  border-radius: 5px;
}
.register-btn:hover {
  background-color: rgb(60, 60, 243);
}
.title {
  font-size: 2rem;
}
.sub-title {
  font-size: 1.2rem;
}
.title-article{
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem;
}
.error-message {
    /* background-color: #ff0000; */
    color:  #ff0000;
    /* width: fit-content; */
    font-size: 14px;
    padding: 4px 12px;
    border-radius: 4px;
    margin-top: 8px;
    text-align: center;

  }
  /* .text-center{
    text-align: center;

  } */

.login-link {
  font-size: 14px;
  margin-top: 12px;
  text-align: right;
}

input {
  /* width: 300px; */
  width: 80%;
  padding: 10px;
  display: block;
  border-radius: 5px;
  margin: 20px auto;
}

img {
  max-width: 100%;
}

.btn-logout {
  padding: 10px 30px;
  background: #34d399;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 200px;
  text-decoration: none;
  margin-top: 20px;
}

.article{
  margin: 30px 0;
}